body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSN4pPFI_2jKdU02PB2pRf7yanAcb-d67HbXA&usqp=CAU);
    
    margin: 0px;
}
header {
    text-shadow: 4px 4px 4px black, -3px -3px 4px rgb(171, 134, 25);
    color: #735c01;
    text-align: center;
    padding: 1.4rem;
    margin-top: 0px;
    background-color: rgb(138, 71, 5);
}
section {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    
}
button{
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(49, 201, 196);
}
button:active{
    background-color: gray;
    
}
footer{
    background-color: rgb(109, 55, 0);
    padding: 0.2rem;
    margin-bottom: 0px;
    
}
#circle {
    background: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(216, 148, 46);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: rgb(72, 39, 0);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}
.navbar a:hover{
    background-color: rgb(247, 175, 68);
}
.navbar li{
    float: left;
}